.title {
  @apply relative w-max mb-3 block text-center text-4xl font-semibold;
}
.title::after {
  content: "";
  z-index: -1;
  width: var(--diagonal);
  transform: rotate(-6deg);
  @apply absolute left-3 -bottom-4 bg-gradient-to-r origin-bottom-left from-blue-300/60 to-blue-300/20 h-2.5 transition-all duration-500 ease-in-out;
}
